@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.reviews {
    display: flex;
    &-summary {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 0 0 40%;
        &__item {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font: normal 16px "Roboto";
        }
        &__sub-item {
            display: flex;
            align-items: center;
            position: relative;
            gap: 5px;
        }
        &__star {
            display: flex;
            align-items: center;
            position: relative;
            &-icon {
                font-size: 64px;
                color: rgb(255, 206, 151);
                display: flex;
                justify-content: center;
                align-items: center;
                &--smaller {
                    font-size: 16px;
                }
            }
            &-inside {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                font: bold 24px 'Roboto';
                transform: translate(-50%, -50%);
                &--smaller {
                    font: bold 10px 'Roboto';
                }
            }
        }
    }  
    &-user-cards {
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}