@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.product-info {
    display: flex;
    flex-direction: column;
    &__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        &-navbar {
            display: flex;
        }
        &-button {
            flex: 1;
            border: 0;
            outline: 0;
            padding: 15px;
            transition: all .3s;
            font: normal 18px 'Rubik';
            &--active {
                background: rgb(255, 255, 255);
                border-left: 1px solid rgba(0, 0, 0, 0.3);
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 10px 10px 0 0;
            }
            &--inactive {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    filter: invert(10%);
                }
            }
        }
    }
    &__content {
        padding: 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        &--description {
            border-radius: 0 10px 10px 10px;
        }

        &--reviews {
            border-radius: 10px 0 10px 10px;
        }

    }
}
