@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.user-menu {
    background: white;
    border-radius: inherit;
    overflow: hidden;
    font: normal 14px 'Roboto';
    &__container {
        width: 100%;
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font: bold 14px 'Roboto';
    }
    &__button {
        text-decoration: none;
        background: inherit;
        cursor: pointer;
        width: 100%;
        padding: 5px;
        border: 0;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        color: rgb(0, 0, 0);
        font: normal 14px 'Roboto';
        &:hover {
            filter: invert(0%);
            background: rgb(218, 218, 218);
        }
        &--red {
            color: rgb(255, 64, 64)
        }
    }

}