@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../global';

.header {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: rgb(67, 142, 255);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 10px;
    &__container {
        padding: 11px 0;
        width: $container-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__part {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            gap: 4%;
            &.shop-info, &.user-info {
                align-items: center;
            }
            &.shop-info {
                justify-content: flex-start;
            }
            &.user-info {
                justify-content: flex-end;
            }
        }
    }
    .menu {
        left: -1500px;
        top: 65px;
        position: absolute;
        width: 400px;
        height: 300px;
        background: yellow;
        transition: all 0.5s;
        &_active {
            left: 0;
        }
    }
    .burger-menu {
        $vertical-shift: 16px;
        height: 44px;
        display: flex;
        cursor: pointer;
        align-items: center;
        &__line {
            background: black;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            width: 42px;
            height: 3px;
            position: relative;          
            &::after, &::before {
                content: "";
                @extend .burger-menu__line;
                position: absolute;
                top: $vertical-shift;
            }
            &::before {
                top: -$vertical-shift;
            }
        }
    }
}
