@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../global';

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(124, 124, 124, 0.35);
    //box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 10px;

    &__container {
        //width: $container-width;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__section {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        height: 100%;
        gap: 5px;
    }

    &-logo {
        height: 100%;
        width: 320px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__image {
            background-image: url('../../images/logo4.png');
            background-position:center center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 290px;
        }
    }

    &-item {
        display: flex;
        justify-content: center;
        min-width: $header-height + 16px;
        height: 100%;
        transition: all 0.3s;
        position: relative;
        &:hover &__summary {
            background:rgb(233, 233, 233);
        }

        &__summary {
            padding: 0 10px;
            transition: all 0.3s;
            list-style: none;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &--cursor-pointer {
                cursor: pointer;
            }
        } 

        &__icon {
            font-size: 32px;
        }

        &__details {
            width: 140px;
            padding: 5px 0;
            position: absolute;
            top: calc(85% + 0px);
            left: 50%; 
            transform: translateX(-50%); 
            border: 1px solid rgb(172, 172, 172);
            border-radius: 6px;
            box-shadow: 0 8px 24px rgba(140,149,159,0.2);
            opacity: 0;
            pointer-events: none;
            transition: 0.2s;
            background: white;

            :hover > & {
                opacity: 1;
                pointer-events: all;
            }

            &::before, &::after {
                content: '';
                position: absolute;
                left: 50%; 
                transform: translateX(-50%); 
                top: -5px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid rgb(255, 255, 255);
                :hover > & {
                    opacity: 1;
                    pointer-events: all;
                } 
            }
            &::before{
                top: -6px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid rgb(172, 172, 172);
            }
        }
    }
    
    .shop-section, .user-section {
        align-items: center;
    }
}

.shop-section {
    justify-content: flex-start;
}

.user-section {
    justify-content: flex-end;
}

.burger-menu {
    $vertical-shift: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    font: 26px Arial;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
    &__line {
        background: black;
        width: 30px;
        border-radius: 5px;
        height: 3px;
        position: relative;

        &::after, &::before {
            content: "";
            @extend .burger-menu__line;
            position: absolute;
            top: $vertical-shift;
        }

        &::before {
            top: -$vertical-shift;
        }
    }

    &:hover {
        filter: invert(20%);
    }   
}
.catalogue-menu {
    left: -1500px;
    top: $header-height + 1px;
    position: absolute;
    width: 400px;
    height: 300px;
    background: yellow;
    transition: all 0.5s;

    &--active {
        left: 0;
    }
}