@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.rating {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: flex-end;
    &--left-aligned {
        align-items: flex-start;
    }
    &-stars {
        display: flex;
        gap: 5px;
    }
    &-label {
        font: normal 14px 'Arimo';
        &__value {

        }
    }
}

.star {
    &__icon {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.3);
        &--filled {
            color: rgb(255, 232, 103);
        }
        &--bigger {
            font-size: 28px;
        }
    }
}