@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.rating {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    &--left-aligned {
        align-items: flex-start;
    }
    &__stars {
        display: flex;
        gap: 5px;
    }
    &__star {
        display: flex;
        justify-content: center;
        align-items: center;
        &-icon {
            font-size: 26px;
            color: rgb(255, 206, 151);
            &--smaller {
                font-size: 21px;
            }
        }
    }
    &__label {
        font: normal 14px 'Arimo';
        &-value {

        }
    }
}
