.admin-panel {
    height: 100%;
    width: 100%;
}

.list {
    list-style-position: inside;
    &__item {
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
}

*.link {
    font: normal 16px Arial;
    color: rgb(52, 52, 212);
    &:hover {
        filter: invert(30%)
    }
    &:visited {
        color: rgb(52, 52, 212);
        color: inherit;
    }
}