@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-navbar {
        display: flex;
        &__button {
            flex: 1;
            border: 0;
            outline: 0;
            padding: 15px;
            transition: all .3s;
            font: normal 18px 'Rubik';
            &--active {
                background: rgb(255, 255, 255);
                border-left: 1px solid rgba(0, 0, 0, 0.3);
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 10px 10px 0 0;
            }
            &--inactive {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    filter: invert(10%);
                }
            }
        }
        &__separator {
            background: rgba(0, 0, 0, 0.3);
            width: 1px;
        }
    }
    &-content {
        padding: 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        &--description {
            border-radius: 0 10px 10px 10px;
        }

        &--reviews {
            border-radius: 10px 0 10px 10px;
        }

    }
}

.product {
    &-info {
        display: flex;
        gap: 50px;
        &__description {
            font: normal 16px 'Ubuntu';
            flex: 1;
            line-height: 22px;
            &-paragraph {
                &:not(:first-child) {
                    padding: 10px 0;
                }
            }
        }

        &__props {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__prop {
            &-row {
                display: flex;
                font: normal 16px 'Rubik';
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                border-left: 1px solid rgba(0, 0, 0, 0.3);
                border-right: 1px solid rgba(0, 0, 0, 0.3);
                &:first-child {
                    border-radius: 5px 5px 0 0;
                }

                &:last-child {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 0 0 5px 5px;
                }
            }

            &-name {
                padding: 10px;
                flex: 1;
            }

            &-value {
                padding: 10px;
                flex: 1;
                text-align: right;
            }

            &-separator {
                background: rgba(0, 0, 0, 0.3);
                width: 1px;
            }
        }

    }
}