@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.prod-sum-card {
    width: 230px;
    height: 350px;
    transition: all .2s;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    &--smaller {
        width: 110px;
        height: 240px;
    }

    &:hover &__name {
        text-decoration: underline;
    }
    &__img-section {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        display: block;
        max-height: 100%;
        max-width: 100%;
    }
    &__info {
        padding: 10px 5px;
    }
    &__name {
        height: 38px;
        font: normal 16px 'Rubik';
        &--smaller {
            font: normal 14px 'Rubik';
        }
    
    }
    &__additional {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
    }
    &__price {
        text-align: right;
        font: bold 20px 'Rubik';
    }
}
