.product-card {
    height: 300px;
    width: 200px;
    transition: all .2s;
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    &:hover {
        background-color: rgb(223, 223, 223);
    }
    
}

.product {
    &-info {
        padding: 10px 5px;
    }

    &-name {
        font: bold 16px Arial;
    }

    &-price {
        text-align: right;
    }
}

.image-section {
    flex: 0 0 70%;
}

.card-image {

    width: 100%;
}

