@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.checkout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-header {
        justify-content: space-between;
        position: relative;
        padding: 10px 0;
        &__button {
            position: absolute;
            top: 5px;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            outline: 0;
            font: normal 14px 'Ubuntu';
            cursor: pointer;
            padding: 10px;
            transition: all 0.3s;
            background: transparent;
            &:hover {
                filter: invert(30%);
            }
        }
        &__label {
           text-align: center;
           font: normal 18px 'Rubik'
        }
    }
    &-form {
        display: flex;
        justify-content: space-between;
        &__products {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &-footer {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        font: normal 20px 'Rubik';
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            outline: 0;
            text-decoration: none;
            color: rgb(0, 0, 0);
            font: normal 20px 'Rubik';
            cursor: pointer;
            padding: 10px 80px;
            transition: all 0.3s;
            background: rgba(57, 159, 255, 0.733);
            &:hover {
                filter: invert(30%);
            }
        }
    }
}

.form {
    &__main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    &__fields-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }
    &-field {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &__label {
            font: bold 18px 'Ubuntu';
        }
        &__input {
            padding: 2px;
            width: 100%;
            font: normal 16px 'Ubuntu';
            &--textarea {
                resize: none;
            }
        }
    }
    &-select {
        &-field {
            font: normal 16px 'Ubuntu';
        }

        &-options {
            font: normal 14px 'Ubuntu';
        }
    }
    &-radio {
        display: flex;
        gap: 20px;
        font: normal 16px 'Ubuntu';
        &__label {
            display: flex;
            align-items: center;
            gap: 4px; 
        }
        &__input {
            font: normal 16px 'Ubuntu';
        }
    }
    &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        outline: 0;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font: normal 20px 'Rubik';
        cursor: pointer;
        padding: 10px 80px;
        transition: all 0.3s;
        background: rgba(57, 159, 255, 0.733);
        &:hover {
            filter: invert(30%);
        }
    }
    &-message {
        font: normal 14px 'Ubuntu';
        width: 40%;
        
    }
}