@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.homepage {
    width: 100%;
    height: 100%;
}

.section {
    &-header {
        font: bold 28px 'Ubuntu';
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 30px;
        gap: 70px;
    }
}