
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    &-header {
        font: bold 28px 'Ubuntu';
    }
    &-main {
        display: flex;
    }
    &-gallery {
        flex: 0 0 70%;
    }
}

.slider {
    width: 600px;
    &__og {
        height: 400px;
        & img { 
            height: 100%;
        }
    }
    &__thumbnail {
        height: 100px;
        & img { 
            height: 90px;
        }
    }
}