@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.catalogue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__header {
        font: bold 28px "Ubuntu"
    }
    &__main {
        display: flex;
        &-product-cards {
            
        }
    }
}